
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="end" *ngIf="sidebarButton">
      <ion-menu-button >
        <ion-icon  name="ellipsis-vertical-outline"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    
    <ion-buttons slot="start">
      <ion-back-button *ngIf="backButton" [defaultHref]="backButton"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <strong>{{ title }}</strong>
      <div class="admin">R U N N E R</div>
    </ion-title>
  </ion-toolbar>
</ion-header>
