<app-header title="EQUIPOS" sidebarButton="true"></app-header>
  <ion-content >
    <div class="label_news" *ngIf="teams.length ===0">
      <img src="../../../../assets/images/team-icon.png" alt="">
      <h3>{{ teamsEmptyMessage }}</h3>
    </div>
    <div class="example-content">Equipos now content</div>
  </ion-content>
  
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" (click)="openTeam()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>