<app-sidebar></app-sidebar>
<div class="ion-page" id="main-content">
  <app-header title="MENU" sidebarButton="true"></app-header>
  <ion-content> </ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
        Inicio
      </ion-tab-button>
      <ion-tab-button tab="teams">
        <ion-icon name="people-outline"></ion-icon>
        Equipos
      </ion-tab-button>
      <ion-tab-button tab="planning">
        <ion-icon name="book-outline"></ion-icon>
        Planeacion
      </ion-tab-button>
      <ion-tab-button tab="activities">
        <ion-icon name="accessibility-outline"></ion-icon>
        Actividades
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</div>



<!-- 
 -->