<app-header title="PROFILE" backButton="/main/home"></app-header>
<ion-content *ngIf="user">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="gallery">
    @for (imgPrev of imagesPreview; track $index) {
    <img [src]="imgPrev.src" />
    }
  </div>
  <div class="profile-header">
    <img [src]="user.photoProfile" alt="">
    <ion-button color="secondary" style="position: absolute;top: 180px;left: 60px;" (click)="openEditProfile()" expand="block" fill="clear" shape="round">
      <ion-icon name="create"  ></ion-icon>
    </ion-button>
    <div>
      <h3>{{user.name}}</h3> 
      <p>{{user.description ? user.description : 'Agrega una descripcion aqui'}}</p>
    </div>
  </div>
</ion-content>
