<app-header title="EDIT PROFILE" backButton="/main/profile"></app-header>
<ion-content>
  <div class="d-flex-center">
    <form
      [formGroup]="form"
      class="auth-form"
      (ngSubmit)="submit()"
      (keypress.enter)="submit()"
    >

    <ion-avatar *ngIf="form.value.file">
      <img [src]="form.value.file" />
    </ion-avatar>

    <ion-avatar *ngIf="!form.value.file">
      <img class="image-icon" src="../../../../assets/images/photo-profile-default.webp" />
    </ion-avatar>

    <ion-button (click)="takeImage()" mode="ios" size="small" shape="round">
      Tomar/seleccionar foto de perfil
    </ion-button>

    <app-custom-input
    icon="book-outline"
    [control]="form.controls.description"
    type="text"
    label="Descripcion"
  ></app-custom-input>

      <ion-button
        mode="ios"
        expand="block"
        class="submit"
        type="submit"
        [disabled]="form.invalid"
      >
        Actualizar perfil
        <ion-icon slot="end" name="person-outline"></ion-icon>
      </ion-button>
     
    </form>
  </div>
</ion-content>
